*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f9f9f9;
   text-align: center;
    font-size: 22px;
    position: relative;
    color: grey;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.head{
    font-weight: bold;
    font-size: 29px;
    background-color: rgb(191, 235, 191);
    width: 505px;
    height: 55px;
    border-radius: 12px;
    text-align: center;
    padding: 9px 8px 9px 4px;
    margin: -2px;
    color: black;
}
.mid{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
input{
    border: none;
    border-bottom: 2px solid rgb(110, 161, 33);
    width: 400px;
    height: 30px;
    color:  rgb(110, 161, 33);
}
select{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(110, 161, 33);
}
button{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    color: white;
    background-color: rgb(110, 161, 33);
}
.footer{
    font-weight: bold;
    font-size: 29px;
    background-color: rgb(191, 235, 191);
    width: 505px;
    height: 120px;
    border-radius: 12px;
    text-align: center;
    padding: 9px 8px 9px 4px;
    margin: -2px;
   

}
#tipss{
    color:  rgb(110, 161, 33);
}